:root{
    --main-bg-color:brown;
}
.max-width-1{
max-width: 80vw;
}
.max-width-2{
    max-width: 60vw;
    }
    .m-auto{
        margin: auto;
    }
    
    .my-2{
        margin-bottom:12px ;
        margin-top: 12px;
    }